GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_WEBHOOK_SECRET=
GITHUB_APP_PRIVATE_KEY_BASE64=
GITHUB_APP_CLIENT_SECRET=

DB_HOST=database-postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=bee

INFLUXDB_URL=http://database-influx:8086
INFLUXDB_ORG=beeci
INFLUXDB_BUCKET=home
INFLUXDB_TOKEN=abcdefghijklmnoprstuvwxyz123456789
INFLUXDB_PASSWORD=very-secret

REDIS_ADDRESS=database-redis:6379
REDIS_PASSWORD=secret_redis
